name: NPM Audit Fix Run

on:
  workflow_dispatch:
    inputs:
      force:
        description: "Use --force flag for npm audit fix?"
        required: true
        type: boolean
      base_branch:
        description: "Specify a base branch"
        required: false
        default: "main"
      use_private_packages:
        description: "Use private packages?"
        required: false
        type: boolean

permissions:
  contents: write
  pull-requests: write
  packages: read   

jobs:
  audit-fix:
    runs-on: ubuntu-latest
    env:
      ACTIONS_STEP_DEBUG: "true"  # Enable debugging
    uses: step-security/reusable-workflows/.github/workflows/npm_audit_fix.yml@v1
    with:
      force: ${{ inputs.force }}
      base_branch: ${{ inputs.base_branch }}
      use_private_packages: ${{ inputs.use_private_packages }}
    secrets: inherit
